<div class="main-content">
	{{#if message}}
        <div class="error-message">
		  {{message}}
	    </div>
    {{/if}}
	<div class="form-container">
		<form class="form-horizontal" method="POST">
			<div class="form-group">
                <label class="col-md-1 control-label"> URL </label>
                <div class="col-md-6">
                    <textarea class="form-control" name="url" rows="4" required>https://www.amazon.com/b/ref=s9_acss_bw_cg_WLCP_2a1_w?ie=UTF8&node=2407749011&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-5&pf_rd_r=55FPTWSVRPJ0NTN88QWZ&pf_rd_t=101&pf_rd_p=ca498e5a-69ad-4e65-950c-7539560631e3&pf_rd_i=2335752011</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <button type="submit" class="btn btn-primary" id="submit-button">
                        Submit
                    </button>
                </div>
            </div>
		</form>
	</div>

	<div class="results-container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="products-found">
                    Products Found: {{products.length}}
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">  
                        <table class="table table-hover table-bordered" id="results-table" width="100%">
                            <thead>    
                                <tr>
                                    <th style="width:50%">Product Name</th>
                                    <th>Price</th>
                                    <th>Rating</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each products as |product|}}
                                    <tr>
                                        <td>{{product.name}}</td>
                                        <td align="right">{{product.price.currency}}{{product.price.whole}}.{{product.price.decimal}}</td>
                                        <td>{{product.rating}}</td>
                                        <td align="center">
                                            <form action="/reviews" method="POST">
                                                <input type="hidden" name="url" value="{{product.link}}" />
                                                <input type="hidden" name="name" value="{{product.name}}" />
                                                <input type="hidden" name="price" value="{{product.price.currency}}{{product.price.whole}}.{{product.price.decimal}}" />
                                                <input type="hidden" name="rating" value="{{product.rating}}" />
                                                <input type="hidden" name="start" value="1" />
                                                <input type="hidden" name="end" value="5" />
                                                <input type="submit" class="btn" value="Reviews" />
                                            </form>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

<script>
    $('#results-table').DataTable({
        "lengthMenu": [[10, 20, 50, -1],[10, 20, 50, 'All']],
        "bSort": true,
        "aaSorting": []
    });
</script>